
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Finance Tracker</title>
  <link rel="stylesheet" type="text/css" href="./css/style.css">
</head>

<body>
  <header>
    <h1>Welcome to a better way to track your finanaces!</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if loggedIn}}
    <button id="logout" class=".btn-outline-secondary">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>Enjoy!</h2>
    </aside>
    <div class="nav">
      {{{body}}}
    </div>
  </main>
  {{#if loggedIn}}
  <script src="./js/logout.js"></script>
  {{/if}}
  <div class="menu-container">
      <div class="card-header col-md-10">
          <h3>Monthly Income</h3>
      </div>
       <div>
           {{{ body }}}
       </div>
  </div>

  <div class="menu-container">
      <div class="card-header col-md-10">
          <h3>Monthly Spending</h3>
      </div>
       <div>
           {{{ body }}}
       </div>
  </div>

   <div class="menu-container">
      <div class="card-header col-md-10">
          <h3>Todays Date</h3>
      </div>
       <div>
           {{{ body }}}
       </div>
  </div>

   <div class="menu-container">
      <div class="card-header col-md-10">
          <h3>Username and Password</h3>
      </div>
       <div>
           {{{ body }}}
       </div>
        <div>
           {{{ body }}}
       </div>
  </div>

     <div class="menu-container">
      <div class="card-header col-md-10">
          <h3>Investments</h3>
      </div>
       <div>
           {{{ body }}}
       </div>
  </div>

     <div class="menu-container">
      <div class="card-header col-md-10">
          <h3>Notifications</h3>
      </div>
       <div>
           {{{ body }}}
       </div>
  </div>
</body>

</html>